{% include 'header.html' %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                       <p>I’m a full-stack developer with a passion for solving complex problems and building impactful digital experiences. My journey in software development has led me to work extensively with modern frameworks and technologies, always striving to deliver solutions that make a real difference[1]. Whether I’m architecting backend systems or crafting seamless front-end interfaces, I thrive on the challenge of turning ideas into reality. </p>
                        <p>When i'm not coding, I enjoy seeing new places and also playing table. I wished to have visited more than 10 new countries before 2030.</p>
                        <p>I’m always eager to connect with others who share my enthusiasm for innovation, whether it’s collaborating on a new app or discussing the latest trends in tech. If you’re interested in web development, digital products, or just want to chat, feel free to reach out using the contact form. I’m always up for a good conversation and new opportunities to grow</p>
                    </div>
                </div>
            </div>
        </main>

{% include 'footer.html' %}